body {
    background-color: black;
}
h3, h5, h4, span, label, a, div {
    color: bisque;
}
h3, h5, h4 {
    line-height: 0.1;
}
input, button, select{
    background-color: black;
    border-color: rgb(196, 162, 121);
    color: bisque;
}